nodeRedFlows/flows_rel2.json
[{"id":"f78e40b03f9d5173","type":"tab","label":"OptimusDB Operations Center","disabled":false,"info":"","env":[]},{"id":"a0226ab2ef25dd94","type":"inject","z":"f78e40b03f9d5173","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":860,"wires":[[]]},{"id":"d982686d7c802b40","type":"inject","z":"f78e40b03f9d5173","name":"Trigger Logs Fetch","props":[],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","x":180,"y":60,"wires":[["ec62d0ace7a78c27"]]},{"id":"ec62d0ace7a78c27","type":"function","z":"f78e40b03f9d5173","name":"Constructor","func":"const date = new Date();\nconst yyyy = date.getFullYear();\nconst mm = String(date.getMonth() + 1).padStart(2, '0');\nconst dd = String(date.getDate()).padStart(2, '0');\nconst hh = \"18\"; // or dynamic: String(date.getHours()).padStart(2, '0')\n\nconst nodePorts = [18001, 18002, 18003];\nconst baseUrl = \"http://localhost:\";\n\nconst requests = nodePorts.map(port => ({\n    url: `${baseUrl}${port}/swarmkb/log?date=${yyyy}-${mm}-${dd}&hour=${hh}`,\n    node: `node-${port}`\n}));\n\n// return them as an array in msg.payload\nreturn [{\n  payload: nodePorts.map(port => ({\n    url: `${baseUrl}${port}/swarmkb/log?date=${yyyy}-${mm}-${dd}&hour=${hh}`,\n    node: `node-${port}`\n  }))\n}];\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":120,"wires":[["329eddc328f60955"]]},{"id":"01e10e4eb63d625c","type":"http request","z":"f78e40b03f9d5173","name":"Fetch Logs","method":"POST","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":150,"y":300,"wires":[["528815b47a430240"]]},{"id":"9fe4187582467f8f","type":"join","z":"f78e40b03f9d5173","name":"Merge All Logs","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"","joiner":"","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":150,"y":420,"wires":[["c6d12568809065b6"]]},{"id":"c6d12568809065b6","type":"function","z":"f78e40b03f9d5173","name":"Flatten Logs","func":"msg.payload = msg.payload.flat();\nreturn msg;","outputs":1,"x":150,"y":480,"wires":[["render_table"]]},{"id":"render_table","type":"ui_template","z":"f78e40b03f9d5173","group":"dashboard_group","name":"Log Table","order":0,"width":0,"height":0,"format":"<table border=\"2\" style=\"width:100%; font-size:12px\">\n  <thead>\n    <tr>\n      <th>Timestamp</th>\n      <th>Level</th>\n      <th>Message</th>\n      <th>Source</th>\n      <th>Node</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr ng-repeat=\"log in msg.payload\">\n      <td>{{log.timestamp}}</td>\n      <td>{{log.level}}</td>\n      <td>{{log.message}}</td>\n      <td>{{log.source}}</td>\n      <td>{{log.node}}</td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":160,"y":540,"wires":[["526a10120ab0f1ab"]]},{"id":"528815b47a430240","type":"function","z":"f78e40b03f9d5173","name":"function 1","func":"if (Array.isArray(msg.payload)) {\n    msg.payload = msg.payload.map(log => {\n        log.node = msg.node;\n        return log;\n    });\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":360,"wires":[["9fe4187582467f8f"]]},{"id":"329eddc328f60955","type":"split","z":"f78e40b03f9d5173","name":"splitOptimusDB","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":160,"y":180,"wires":[["444fb0fd99eefb7b"]]},{"id":"444fb0fd99eefb7b","type":"function","z":"f78e40b03f9d5173","name":"function 2","func":"msg.url = msg.payload.url;\nmsg.node = msg.payload.node;\nmsg.payload = {}; // or keep some value\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":240,"wires":[["01e10e4eb63d625c"]]},{"id":"526a10120ab0f1ab","type":"debug","z":"f78e40b03f9d5173","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":540,"wires":[]},{"id":"dashboard_group","type":"ui_group","name":"Logs","tab":"dashboard_tab","order":1,"disp":true,"width":"12"},{"id":"dashboard_tab","type":"ui_tab","name":"OptimusDB Dashboard","icon":"dashboard","order":1}]